@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root {
    --cor0: #0d0b6e;
    --cor1: #05081f;
    --cor2: #A1B0F3;
    --cor3: #0f164b;
    --cor4: #4c5ac7;
    --cor5: #8fbfe0;
}

* {
    padding: 0;
    margin: 0;
}



body {
    font-family:"Inter", sans-serif;
    background-color: var(--cor1);
    color: var(--cor2);
}

main {
    max-width: 900px;
    margin: auto;
}



header {
    background-color:var(--cor0);
}

.menu {
    padding: 0 8px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



a {
    text-decoration: none;
}

#introducao {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#introducao img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 3px solid var(--cor4);
    border-radius: 20px;
}

#cursos > div {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

#cursos article {
    flex: 1;
    background-color: var(--cor3);
    padding: 10px;
    border: 3px solid var(--cor4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

#cursos article:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px var(--cor4);
}

#cursos article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#cursos article a {
    background-color: var(--cor4);
    color: var(--cor5);
    padding: 7px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

#cursos article a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
}

#cursos article span {
    background-color: var(--cor0);
    color: var(--cor5);
    padding: 3px;
    border-radius: 13px;
    text-align: center;
}

#curso-frontend {
    background-color: var(--cor3);
    border: 3px solid var(--cor4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#curso-frontend a {
    background-color: var(--cor4);
    color: var(--cor5);
    padding: 10px;
    width: 100px;
    border-radius: 5px 5px 35px 5px;
    text-align: center;
    transition: 0.5s;
}

#curso-frontend a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    width: 120px;
}

#mensagem-inscricao {
    display: none;
    color: var(--cor5);
    font-weight: bold;
    margin-top: 10px;
}

#mensagem-inscricao.mostrar {
    display: block;
}

#conteudo-frontend {
    display: none;
}

#conteudo-frontend.mostrar {
    display: block;
}

footer {
    background-color: var(--cor0);
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 600px) {
    #cursos > div {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 13px;
    }

    footer ul {
        flex-direction: column;
        gap: 5px;
    }
}